apiVersion: apps/v1
kind: Deployment
metadata:
  name: churn-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: churn-api
  template:
    metadata:
      labels:
        app: churn-api
    spec:
      containers:
        - name: churn-api
          image: sujeet7111/docker-demo:1.0.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
